<p>
  There are a variety of lodging options at the YMCA of the Rockies - Estes Park Center.  These include lodge rooms (which range from dorm rooms to nice hotel rooms, depending on what you want to spend), various sized cabins and vacation homes.  The cabins and vacation homes will open up for reservation on October 7 and will likely get booked up pretty quickly.  This is a popular destination, and a holiday weekend, so whether you're getting a cabin or a lodge room, we strongly recommend that you make your reservations early.   Campsites also open on Memorial Day Weekend, so that is another, colder option.
</p>
<p>
  The cabins and vacation homes are of varying sizes, two bedroom all the way up to five.  If you want to get a group to go in together on a cabin, this may be the most fun and least expensive option. Please note, some cabins are miles away from the main area.
</p>
<p>
  Check out their <%= link_to "website", "http://www.ymcarockies.org/home/our-locations/EPC/EPClodging/familylodging", :target => "_blank" %>.  We will be at the "Estes Park Center" and not the "Snow Mountain Ranch".  Make sure to set the appropriate dates in the reservation form to see what is available. Or give them a call: 800-777-9622.  When you make your reservation, let them know that you want them to attach your reservation to "Paige Sorensen and Matthew Rose" and they will try to situate us as close together as possible.  If you are a member of your local Y, mention it and you will get a discount.
</p>
<p>
  If you would prefer to eat or stay in downtown Estes Park, the Y is about a five minute drive away so that is also an option.
</p>
