<p>
There are a variety of lodging options at the YMCA of the Rockies - <b>Estes Park Center</b>.  These include lodge rooms (which range from dorm-style rooms to nice hotel rooms, depending on what you want to spend), various sized cabins and vacation homes. Check out <%= link_to "photos and info", "http://www.ymcarockies.org/EPC_Lodging.htm", :target => "_blank" %> about the rooms.
</p>
<p>
  The cabins and vacation homes will get booked up quickly. All the lodge rooms are within walking distance of the ceremony and reception locations.  Some of the cabins/vacation homes are a fair walk away.  Campsites also open on Memorial Day Weekend, so that is another, colder option.
</p>
<p>
  This is a popular destination, and a holiday weekend, so whether you're getting a cabin or a lodge room, <b>we strongly recommend that you make your reservations as soon as possible</b>.  Check out their <%= link_to "website", "http://www.ymcarockies.org/EPC_Lodging.htm", :target => "_blank" %>.  We will be at the "Estes Park Center" and not the "Snow Mountain Ranch".  Make sure to set the appropriate dates in the reservation form to see what is available. Or give them a call: 800-777-9622.  If you need disability access, make your reservation by phone - some of the rooms/cabins are accessible and some are not.  If you would like to be lodged near someone else, let them know and they can attach your reservations.  They do not offer group discounts, but if you are a member of your local Y, you will get your discount if you mention it.
</p>
<p>
  If you would prefer to eat or stay in downtown Estes Park, the Y is about a ten minute drive away so that is also an option.  Barb Brischke set up a group rate at the <%= link_to "Lake Shore Lodge", "http://www.lakeshorelodge.com/", :target => "_blank" %>.  To get the rate, while rooms last, use the group code SOR or ask for the Sorensen/Rose group block.  This is a great option if you want to be closer to downtown. <b>NOTE</b>: <u>If you stay on the Y campus, you will be able to walk from your room to all events. If you stay downtown you will be in charge of arranging your own transportation to and from the ceremony, reception, etc.</u>
</p>
