<p>
  The two of us are planning to embark on a year-long nomadic journey around the continent shortly after the wedding and therefore won't have room for lots of new stuff.  We will, however, gladly accept money toward the purchase of a travel trailer, gas cards and the like, or simply your attendance at our wedding.
</p>
