<p>
  The two of us have all the &quot;things&quot; we need at this point.  We will, however, gladly accept donations for travel/home improvement expenses, etc., or simply your attendance at our wedding.
</p>
