<p>
  If you know now whether or not you will be attending, and how many you are, feel free to let us know.  It will help us to plan.
</p>

<p>
  Paige Sorensen<br />
  (970)416-6328<br />
  <%= link_to "paige@weddingitup.com", "mailto:paige@weddingitup.com" %>
</p>

<p>
  Matt Rose<br />
  (970)430-6717<br />
  <%= link_to "matt@weddingitup.com", "mailto:matt@weddingitup.com" %>
</p>

<p>
  Or feel free to leave a comment or your RSVP below.
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
  <% if( Rails.env == "development" ) %>
    var disqus_developer = 1;
  <% end %>
  /**
   * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
  */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://weddingitup.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=weddingitup">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<script type="text/javascript">
  var disqus_shortname = 'weddingitup';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.src = 'http://disqus.com/forums/weddingitup/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

