<p>
  If you know now whether or not you will be attending, feel free to let us know.  It will help us to plan.
</p>

<p>
  Paige Sorensen<br />
  (970)416-6328<br />
  <%= link_to "paige@weddingitup.com", "mailto:paige@weddingitup.com" %>
</p>

<p>
  Matt Rose<br />
  (970)430-6717<br />
  <%= link_to "matt@weddingitup.com", "mailto:matt@weddingitup.com" %>
</p>
