<p>
  For those who are flying into Denver International Airport:
</p>
<ul>
  <li>
    <%= link_to "Estes Park Shuttle Service", "http://www.estesparkshuttle.com", :target => "_blank" %> provides transportation from Denver International Airport to the YMCA of The Rockies - Estes Park Center.
  </li>
  <li>
    If you are renting a car, here are <%= link_to "map and directions", "http://maps.google.com/maps?f=d&source=s_d&saddr=DIA&daddr=2515+Tunnel+Rd,+Estes+Park,+CO+80511-9500+(YMCA+of+the+Rockies+Estes+Park+Center)&hl=en&geocode=FSgOYAIdwM3C-Sm9JyPUCWhshzGh5Uwm2XIwDw%3BFYmPZwIdBi61-SGmPU9MyCURiCnBWoLr4WRphzG36zFHYcWVEQ&mra=pd&mrcr=0&sll=40.063359,-105.078735&sspn=0.845022,2.447205&ie=UTF8&ll=40.105387,-105.119934&spn=0.8445,2.447205&z=9", :target => "_blank"  %> from DIA to the Y.
  </li>
</ul>

<p>  
  If you are driving out, here is <%=link_to "general map", "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=2515+Tunnel+Rd,+Estes+Park,+CO&sll=40.341385,-105.566714&sspn=0.086093,0.220757&ie=UTF8&hq=&hnear=2515+Tunnel+Rd,+Estes+Park,+Larimer,+Colorado+80511&ll=40.345792,-105.566726&spn=0.010761,0.027595&t=h&z=15&iwloc=A", :target => "_blank" %> of the Y's location.
</p>
<p>
  YMCA of the Rockies - Estes Park Center<br />
  2515 Tunnel Rd.<br />
  Estes Park, CO 80511<br />
</p>

<p>
  Please note that if you are renting a cabin or vacation home, you will need a car to get around.  Otherwise, if you have a lodge room you can stay and eat at the Y the whole time.
</p>
