<h1>01.23.2011</h1>
<ul>
  <li>Updated links to Estes Park Center site pages.</li>
  <li>Added info about lodging options to lodging page.</li>
  <li>Updated registry page with honeymoon registry plans.</li>
</ul>
<h1>09.27.2010</h1>
<ul>
  <li>Added comments to RSVP page.</li>
</ul>
