<p>
  We are getting married on Saturday, May 28, 2011 (Memorial Day Weekend), at the YMCA of the Rockies - Estes Park Center.  We plan to stay there the whole weekend so if you want to make a weekend out of it, we welcome you.
</p>
<p>
  The Y is a community center with a group of cabins and hotels in the Rocky Mountains.  If you are unfamiliar with it, <%= link_to "check it out", "http://www.ymcarockies.org/estes-park-center-colorado.html", :target => "_blank" %>.  Some examples of things that make it different from a hotel:  cafeteria where meals can be purchased, roller rink, indoor pool, hiking trails, mini golf, arts and crafts...yeah!  Kids are welcome.
<p>
  The weather in May in Estes Park could be very pleasant or very chilly so make sure you check the weather before you come, and you may want to plan for both no matter what it says.
</p>
<p>
  The Y is situated at 8,010 feet above sea level.  Plan to drink plenty of water and take it easy.
</p>
<p>
  As we have updates for you, we will list them on the <%= link_to "updates", "/updates" %> tab, so check back.
</p>
<p>
  <%= link_to "Contact us", "/rsvp" %> with questions/comments.
</p>
